<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  
  <link rel="stylesheet" href="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
  
  <!-- jQuery and jQuery Mobile -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
  <script src="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

  <script>

	jQuery(function() {
		jQuery("#btnPlay").click(function() {
			jQuery.post("control/play");
		});
		jQuery("#btnPause").click(function() {
			jQuery.post("control/pause");
		});
		jQuery(".btnPlayRadio").click(function(evt) {
			jQuery.post("current", jQuery(evt.target).attr('data-radio-station'));
		});
	
		selectLocalLibraryPath();
	});

	function selectLocalLibraryPath(path)
	{
		if (path && path.match(".*\.mp3\$"))
			jQuery.post("current", path);
		else
			jQuery.getJSON("library/local/" + (path ? path + '/' : ''), function(data) {
				jQuery('#localLibrary li').remove();
				for (var i = 0; i < data.length; i++)
					jQuery("#localLibrary").append('<li data-theme="c" data-path="' + (path? path + '/' : '') + data[i] + '"><a href="#">' + data[i] + '</a></li>');

				var back = path? (path.indexOf('/') == -1? '' : path.substring(0, path.lastIndexOf('/'))) : null;
				if (back != null) jQuery("#localLibrary").append('<li data-theme="c" data-path="' + back + '"><a href="#">Back</a></li>');

				jQuery('#localLibrary li').click(function(evt) {
					selectLocalLibraryPath(jQuery(evt.currentTarget).attr('data-path'));
				});
				jQuery('#localLibrary').listview('refresh');
			});
	}
  </script>
   
</head>
<body>
<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>Music</h3>
    </div>
    <div data-role="content">
        <a data-role="button" data-inline="true" href="#" data-icon="arrow-r" data-iconpos="left" id="btnPlay">
            Play
        </a>
        <a data-role="button" data-inline="true" href="#" data-icon="delete" data-iconpos="left" id="btnPause">
            Pause
        </a>
        <div data-role="collapsible-set">
            <div data-role="collapsible" data-collapsed="true">
                <h3>Internet Radio</h3>
                <ul data-role="listview" data-divider-theme="b" data-inset="true">
                    <li data-theme="c"><a href="#" class="btnPlayRadio" data-radio-station="http://scfire-d15.websys.aol.com:80/radio_paradise_mp3_128kbps">Radio Paradise</a></li>
                    <li data-theme="c"><a href="#" class="btnPlayRadio" data-radio-station="http://voxsc1.somafm.com:8850">Soma FM: Suburbs of goa</a></li>
                    <li data-theme="c"><a href="#" class="btnPlayRadio" data-radio-station="http://mp4.somafm.com:8800">Soma FM: Lush</a></li>
                    <li data-theme="c"><a href="#" class="btnPlayRadio" data-radio-station="http://yp.shoutcast.com/sbin/tunein-station.pls?id=1404847">Test</a></li>
                </ul>
            </div>
            <div data-role="collapsible" data-collapsed="true">
                <h3>Local Library</h3>
                <ul data-role="listview" data-divider-theme="b" data-inset="true" id="localLibrary"></ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
